/* ---------------------------------------------------------------------------------------
 *  Media Queries
 * ---------------------------------------------------------------------------------------
 */

/* Responsive Design */
@media (max-width: 1024px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: var(--space-md);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 var(--space-md);
  }

  .features-grid {
    grid-template-columns: var(
      --grid-columns-mobile
    ); /* Change la grille pour les petits écrans */
  }

  .search-main-fields {
    grid-template-columns: 1fr; /* Change la grille pour les champs de recherche */
  }

  .search-container {
    padding: var(
      --space-md
    ); /* Réduit l'espace autour du conteneur de recherche */
    margin: 0 var(--space-md); /* Réduit l'espace sur les côtés */
  }

  .presentation-content {
    flex-direction: column; /* Change la direction du flex pour les petits écrans */
    padding: var(--space-md); /* Réduit l'espace autour de la présentation */
  }

  .responsive-image {
    margin: var(--space-md); /* Ajoute un espace autour de l'image */
  }

  #menu-toggle {
    display: block; /* Affiche le bouton de menu sur les petits écrans */
  }

  #main-nav {
    display: none; /* Masque le menu principal sur les petits écrans */
  }

  #main-nav.active {
    display: block; /* Affiche le menu principal lorsque le bouton de menu est actif */
  }

  nav ul {
    flex-direction: column; /* Change la direction du flex pour les éléments de menu */
  }

  .dropdown-menu {
    position: static; /* Positionne le menu déroulant de manière statique */
    display: none; /* Masque le menu déroulant par défaut */
    width: 100%; /* Largeur à 100% */
    box-shadow: none; /* Supprime l'ombre */
    background-color: var(
      --color-background-light
    ); /* Couleur de fond claire */
  }

  .dropdown.active .dropdown-menu {
    display: block; /* Affiche le menu déroulant lorsque le parent est actif */
  }

  .dropdown-toggle::after {
    display: right; /* Affiche le bouton de menu déroulant */
    margin-top: 0.5rem; /* Ajoute un espace au-dessus */
  }
}

@media (max-width: 767px) {
  .presentation-content {
    text-align: center; /* Centre le texte dans la présentation */
  }

  .image-container {
    margin-top: var(--space-md); /* Ajoute un espace au-dessus de l'image */
  }
}
