body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #333;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 5px 0;
    width: 100%;
    text-align: center;
  }
}

main {
  padding: 20px;
}

#presentation {
  text-align: center;
  margin-bottom: 20px;
}

#presentation img {
  max-width: 40%;
  height: auto;
}

#recherche {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#recherche form {
  display: flex;
  flex-direction: column;
}

#recherche label {
  margin: 5px 0;
}

#recherche input {
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#recherche button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#recherche button:hover {
  background-color: #45a049;
}

#results {
  margin-top: 20px;
}

#results h3 {
  color: #4caf50;
}

#results ul {
  list-style-type: none;
  padding: 0;
}

#results li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
